Repository ByteOtter/nuFAT, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, dependencies, documentation, tests, code-quality, maintenance

Install fuse dependencies in workflows
  .github/workflows/audit.yml
  .github/workflows/style.yml
  .github/workflows/test.yml
Labels: none

Add README
  README.md
Labels: documentation

Replace deprecated mount call
  src/main.rs
Labels: rust

Attempt to fix getattr and readdir with non-empty root
  src/filesystem.rs
Labels: rust

Add file size format function
  src/filesystem.rs
Labels: rust

Add debug output to readdir
  src/filesystem.rs
Labels: rust

Import necessary requirements
  Cargo.lock
  Cargo.toml
Labels: dependencies

test implementation of mtools function
  src/filesystem.rs
  src/main.rs
Labels: rust

Add todo (tmp)
  src/filesystem.rs
Labels: rust

Update README documentation
  README.md
Labels: documentation

dev/fix-readdir
  src/filesystem.rs
Labels: rust

Rework filesize calculation and lay out read function
  src/filesystem.rs
Labels: rust

Hardcode response entries (tmp)
  Cargo.lock
  Cargo.toml
  src/filesystem.rs
  src/main.rs
Labels: rust, dependencies

Add lookup function
  src/filesystem.rs
Labels: rust

Fix readdir and lookup function
  src/filesystem.rs
Labels: rust

Update Supported Features in Readme
  README.md
Labels: documentation

Add sample image to gitignore
  .gitignore
Labels: none

Update image creation guide to refer to sample image file
  docs/creating_sample_image.md
Labels: none

Add .patch files to gitignore
  .gitignore
  README.md
Labels: documentation

Mark unused parameters in docstrings
  src/filesystem.rs
Labels: rust

Add write function
  src/filesystem.rs
Labels: rust

Fix clippy annotations
  src/filesystem.rs
  src/main.rs
Labels: rust

Update README.md
  README.md
Labels: documentation

Remove unnecessary format_file_size function from filesystem.rs
  src/filesystem.rs
Labels: rust

Fix audit workflow by installing cargo-audit command
  .github/workflows/audit.yml
Labels: none

.github/labeler.yml:

rust:
- src/**/*.rs

dependencies:
- Cargo.toml
- Cargo.lock

documentation:
- README.md
- LICENSE
- CODE_OF_CONDUCT.md
- CONTRIBUTING

tests:
- tests/*

code-quality:
- .pre-commit-hooks/*
- .pre-commit-config.yaml

maintenance:
- .github/*
